*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* this makes sure the padding and the border is included in the box sizing */
  box-sizing: border-box;
  overflow-x: hidden;
}

html body {
  padding: 0;
  margin: 0;
  overflow-x: inherit;
}

.App {
  background-color: #161616;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  overflow-y: hidden;
}

#logoStyle {
  width: 120px;
  margin-left: 5vw;
}

.wrapper {
  width: 90vw;
  margin: 0 auto;
}

nav {
  position: fixed;
  width: 95vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}

.hamburgerMenu {
  font-size: 30px;
  color: #ffe204;
}

.title {
  color: #ffe204;
  font-size: 30px;
}

.nowPlayingQueue {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-top: 40px;
  gap: 60px;
}

.nowPlayingQueue .nowPlayingSection {
  width: 60vw;
}

.nowPlayingQueue .inQueueSection {
  width: 40vw;
}

.centering {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.record {
  width: 450px;
  height: 450px;
  background-color: #0a0a0a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.record::before,
.record::after {
  position: absolute;
  content: "";
  border: 5px solid transparent;
  border-top-color: #3f3f3f;
  border-bottom-color: #3f3f3f;
  border-radius: 50%;
}

.record::before {
  width: 350px;
  height: 350px;
}

.record::after {
  width: 250px;
  height: 250px;
}

.labelImage {
  background-color: #ffe204;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  background-color: #161616;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.playerControls {
  width: 35%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playerIcon {
  color: #ffffff;
  font-size: 25px;
}

.songAndArtist {
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}

.songName {
  font-size: 1.8rem;
  font-weight: 600;
}

.artistName {
  font-size: 1.2rem;
}

.songLengthDuration {
  display: flex;
  align-items: baseline;
  gap: 15px;
  width: 70%;
}

.songLength {
  margin-top: 20px;
  background-color: #ffffff;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.songLengthPoint {
  background-color: #ffffff;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.songDuration {
  color: #ffffff;
  font-size: 1.1rem;
}

.favoriteSongIcon {
  color: #ffe204;
  font-size: 30px;
  padding-right: 10px;
}

.queueList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.songInQueue {
  width: 100%;
  height: 100px;
  background-color: #0a0a0a;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
}

.songImage {
  width: 140px;
  height: inherit;
  background-color: #3f3f3f;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.songAndArtistInQueue {
  color: #ffffff;
  line-height: 32px;
}

.playIconQueue{
  color: #ffe204;
  font-size: 35px;
  position: absolute;
  right: 30px;
}

.songNameInQueue{
  font-size: 1.4rem;
  font-weight: 600;
}

.playListsList{
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}

.playlist{
  width: 350px;
  height: 300px;
  border-radius: 8px;
  background-color: #111111;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  position: relative;
}

.playlistName{
  position: relative;
  top: 250px;
}

footer{
  margin-top: 50px;
  background-color: #0E0E0E;
  height: 380px;
  color: #ffffff;
}
