.App {
  background-color: #161616;
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

#logoStyle{
  width: 120px;
}

.wrapper{
  width: 95vw;
  margin: 0 auto;
}

nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hamburgerMenu{
  font-size: 30px;
  color: #FFE204;
}

.title{
  color: #FFE204;
  font-size: 30px;
}

.nowPlayingQueue{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nowPlayingQueue .nowPlayingSection {
  width: 70vw;
}

.nowPlayingQueue .inQueueSection {
  width: 30vw;
}